.Wrapper{
    margin-top: -40px;
}

.BuildControls{
    width: 100%;
    display: -webkit-box;
    background-color: lightgrey;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    /* margin: auto; */
    margin-top: 20px;
    padding: 10px 0;
}
